.vscode
.idea
*.pyc
*.pyo
*.pyd
__pycache__
.git

venv
env
ENV
env.bak
venv.bak

.coverage
*.cover
*.log
htmlcov
.pytest_cache

static
images

django_cache

db.sqlite3
db.sqlite3_old

*.tmp
*.swp
.DS_Store
*.bak
Thumbs.db
