{% extends 'base.html' %}

{% block content %}
    <section class="login">
        <div class="container" align="center">
        <h1>Login</h1>
        {{  request.user.is_authenticated }}

            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <label>{{ field.label }}</label>
                {{ field }}

                {% endfor %}
                <input type="submit" value="Login">
            </form>
            <p>
                {{ form.errors }}
            </p>
        </div>
    </section>
{% endblock content %}