{% extends 'base.html' %}

{% block content %}
    <section class="sign up">
        <div class="container" align="center">
            <h1>Sign Up</h1>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <label>{{ field.label }}</label>
                    {{ field }}

                    {% endfor %}
                    <input type="submit" value="Sign Up">
                </form>
                <p>
                    {{ form.errors }}
                </p>
        </div>
    </section>
{% endblock content %}