{% extends 'base.html' %}

{% block content %}
    <section class="feedbacks">
        <div class="container" align="center">
            <h1>Feedbacks:</h1>

            {% for feedback in feedbacks %}
                <p>
                    <span>Username: {{ feedback.user }}</span>
                    <span>Text: {{ feedback.text }}</span>
                    <span>Rating: {{ feedback.rating }}</span>
                </p>
            {% endfor %}
        </div>
        <div class="container" align="center">
            <h1>Please, leave your feedback:</h1>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <label>{{ field.label }}</label>
                    {{ field }}

                {% endfor %}
                <input type="submit" value="Add Feedback">
            </form>
            <p>
                {{ form.errors }}
            </p>
        </div>
    </section>
{% endblock content %}