{% extends 'base.html' %}

{% block content %}
    <section class="feedbacks">
        <div class="container" align="center">
            <h1>Feedbacks:</h1>

            {% for feedback in feedbacks %}
                <p>
                    <span>User: {{ feedback.user.email }}</span>
                    <span>Date: {{ feedback.created_at }}</span>
                    <span>Text: {{ feedback.text|linebreaksbr }}</span>
                    <span>Rating: {{ feedback.rating }}</span>
                </p>
            {% endfor %}
        </div>
        <div class="container" align="center">
            <h1>Please, leave your feedback:</h1>
            <form method="post">
                {% include 'parts_html/forms/simple_form.html' with form=form %}
                <input class="btn btn-warning mt-4" type="submit" value="Add Feedback">
            </form>
        </div>
    </section>
{% endblock content %}