{% extends 'base.html' %}
{% load static %}
{% block title %}
    Wishlist
{% endblock %}
{% block content %}
   <section>
        <div class="container">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="fw-normal mb-0 text-black">Wishlist</h3>
            </div>
            <div class="row">
                {% for wishlist in object_list %}
                    <div class="col {% if wishlist.item.items.exists %}col-lg-6{% else %}col-lg-3{% endif %}">
                        <div class="card mb-3">
                            {% if wishlist.item.image %}
                                <figure class="text-center">
                                    <img style="width: 20rem" src="{{ wishlist.item.image.url }}"
                                         class="product-image p-3"
                                         alt="{{ wishlist.item.name }}">
                                </figure>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ wishlist.item.name }}</h5>
                                <p class="small">{{ wishlist.item.category.name }}</p>
                                <p class="card-text">
                                    {{ wishlist.item.description|truncatewords:16 }}
                                </p>
                                {% if wishlist.item.items.exists %}
                                    <p>Including:</p>
                                    {% for sub in wishlist.item.items.iterator %}
                                        <div class="d-inline-flex flex-column rounded border p-2">
                                            <p>{{ sub.name }}</p>
                                            <figure class="text-center d-inline">
                                                <img src="{{ sub.image.url }}"
                                                     class="product-image p-3"
                                                     alt="{{ wishlist.item.name }}">
                                            </figure>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="text-center">
                                    <div class="h3">
                                        {{ wishlist.item.actual_price }} UAH
                                    </div>
                                    <form method="post" action="{% url 'update_cart' 'add' %}">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ wishlist.item.id }}" name="item">
                                            <input type="submit" class="btn btn-primary" value="Add to cart">
                                        </form>
                                    <a class="nav-link active" aria-current="page"
                                       href="{% url 'update_wishlist' wishlist.item.id %}">
                                        <input type="submit"
                                               class="btn btn-outline-danger"
                                               value="Delete">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                {% empty %}
                    <h3>Your wishlist is empty.</h3>
                        <p>Go to <a href="{% url 'items' %}">items</a>
                            page and add something good to wishlist.</p>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
