{% load widget_tweaks %}
<div class="row g-3 justify-content-center">
    <div class="col-12 col-lg-3 ">
        <label class="form-label text-center w-100">Min Price</label>
        <input type="number"
               name="actual_price_min"
               class="form-control form-control-sm"
               value="{{ request.GET.actual_price_min }}">
    </div>
    <div class="col-12 col-lg-3">
        <label class="form-label text-center w-100">Max Price</label>
        <input type="number"
               name="actual_price_max"
               class="form-control form-control-sm"
               value="{{ request.GET.actual_price_max }}">
    </div>
</div>

<!-- Інші фільтри -->
<div class="row g-3 justify-content-center">
    {% for field in form %}
        {% if field.name != 'actual_price' %}
            <div class="col-12 col-lg-3">
                <label class="form-label text-center w-100">{{ field.label }}</label>
                {{ field|add_class:'form-control form-control-sm' }}
            </div>
        {% endif %}
    {% endfor %}
</div>