{% extends 'base.html' %}

{% block content %}
    <section class="items">
      <div class="container">
            <h2>Items</h2>
            <div class="row">
                {% for item in object_list %}
                    <div class="col {% if item.items.exists %}col-lg-6{% else %}col-lg-3{% endif %}">
                        <div class="mb-3">
                            <div class="card border-primary"
                                 style="width: 23rem; height: 45rem;">
                                <img src="{{ item.image.url }}"
                                     class="product-image p-5"
                                     alt="{{ image.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.name }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ item.category.name }}</h6>
                                    <p class="card-text">
                                        {{ item.description|truncatechars:100 }}<br>
                                        <br>
                                        {% if item.items.exists %}
                                            <p>Including:</p>
                                            {% for sub in item.items.iterator %}
                                                    <p>{{ sub.name }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                    <div class="h3">
                                    ${{ item.price }}
                                </div>
                                <a href="{% url 'item_detail' item.id  %}">Details...</a>
                                <form method="post" action="{% url 'update_wishlist' 'add' %}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ item.id }}" name="item">
                                    <input type="submit" class="btn btn-primary" value="Add to wishlist">
                                </form>
                                <form method="post" action="{% url 'update_cart' 'add' %}">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ item.id }}" name="item">
                                    <input type="submit" class="btn btn-primary" value="Add to cart">
                                </form>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}