{% extends 'base.html' %}
{% load static %}
{% block title %}
    User Profile
{% endblock %}
{% block content %}

    <div class="row my-3 p-3">
        <h3>My Profile</h3>
    </div>
    <div class="user-info p-3">
        <h6 class="user-email">First name: {{ user.first_name }}</h6>
        <h6 class="user-phone">Last name: {{ user.last_name }}</h6>
        <h6 class="user-email">Email: {{ user.email }}</h6>
        <h6 class="user-phone">Phone: {{ user.phone }}</h6>
        <h6 class="user-date-joined">Date joined: {{ user.date_joined }}</h6>
        <h6 class="user-order-is-active">Active order: {{ user.order_set.get.is_active }}</h6>
    </div>

{% endblock content %}