{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-12 col-lg-3 ">
            <div class="row my-3 p-3">
                <h3>Edit Profile</h3>
            </div>
            <div class="user-info p-3">
                <form method="post">
                    {% include 'parts_html/forms/simple_form.html' with form=form %}
                    <h6 class="user-date-joined">Date joined: {{ user.date_joined }}</h6>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}